@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@500&display=swap");
/* :root {
  --BG1-color: #292f36;
  --BG2-color: #1a1e23;
  --Brand1-color: #12f7d6;
  --Brand2-color: #98faec;
  --CSS-color: #0c73b8;
} */

/* Reset styles to normalize across browsers */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "IBM Plex Mono", monospace;
}

/* Set up a basic body style */

body {
  /* font-size: 16px; */
  line-height: 1.6;
  /* background-color: #292f36; */
  color: #fff;
}

/* .text-primary-color {
    color: var(--primary-color);
  } */
